let pbb_table = null;
let pbb_list = null;
function pbbTable(list){
    pbb_list = list;
    if(pbb_list.length > 0){
        let html_content = '';
        let index = 0;
        pbb_list.forEach(function(installation){
            let insturl = installation.hasOwnProperty('url') ? installation.url : 'http://' + installation.domain;
            let dbinf = '';
            if(installation.hasOwnProperty('db_result') && installation.db_result.result != 'success'){
                let dbtitle = '{{langmod.ADDDBNOT}}: ' + handleDBError(installation.db_result.code);

                dbinf = '<span class="fa-stack fa-xs" title="' + dbtitle + '" data-toggle="tooltip" data-placement="top" aria-hidden="true">' +
                    '<i class="fa fa-circle fa-stack-2x"></i>' +
                    '<i class="fa fa-info fa-stack-1x fa-inverse"></i>' +
                    '</span>';
            }
            html_content += '<tr id="tdpbb_' + index + '">' +
                '<td>' + installation.domain + '<br>' +
                '<a href="' + insturl + '" target="_blank">' + insturl + '</a></td>' +
                '<td><div class="addon-td-item">' + installation.path + '</div></td>' +
                '<td><div class="addon-td-item">' + installation.version + '</div></td>' +
                '<td>' +
                '<div class="database-info-td">' +
                '<div><b>{{langmod.ADDSHORTDB}}: </b> ' + installation.pbbbd + '<br><b>{{langmod.ADDSHORTUDB}}: </b>' + installation.pbbuserdb + '</div>' +
                dbinf +
                '</div>' +
                '</td>' +
                '<td>' +
                '<div class="addon-td-item text-center"><button title="{{langmod.ADDDWP3}}" data-traddon="#tdpbb_' + index + '" data-type="pbb" data-installation=\'' + JSON.stringify(installation) + '\' data-toggle="tooltip" data-placement="top" aria-hidden="true" class="btn btn-danger btn-xs btn-delete" onclick="return deleteAddon(this, 0)">' +
                '<i aria-hidden="true" class="fa fa-trash"></i>' +
                '</button></div>' +
                '</td>' +
                '</tr>';
            index++;
        });
        let table_html = '<table class="table table-striped pbb-table">' +
            '<thead>' +
            '<tr>' +
            '<th>{{langmod.ADDDOMLAB}}</th>' +
            '<th>{{langmod.ADDPATHLAB}}</th>' +
            '<th>{{langmod.ADDVERLAB}}</th>' +
            '<th>{{langmod.ADDBDUDB}}</th>' +
            '<th class="text-center"></th>' +
            '</tr>' +
            '</thead>' +
            '<tbody id="trpaneljl">' +
            html_content +
            '</tbody>' +
            '</table>';
        $('#table_pbb_container').html(table_html);
        $('.pbb-table').DataTable().destroy();
        pbb_table = $('.pbb-table').DataTable();
    }else{
        $('#table_pbb_container').html('<div class="empty_list"><h4 class="text-success">Thre\'s not phpBB installations</h4></div>');
    }
    $('[data-toggle="tooltip"]').tooltip();
}
function pbbInit(){
    if(pbb_list == null){
        pbbReList();
    }
}
function pbbReList(){
    $('#table_pbb_container').html(loader);
    getList('pbb', function(response){
        pbbTable(response);
    });
}
function cancelpbb(idCollapse){
    uchip.slideToggle('#pbb_ist','#pbb_form', function(){

    });
    $("#pbbcompname").val('');
    $("#pbbcompemail").val('');
    $("#pbbadminemail").val('');
    $('#pbbdomain').val('');
    $('#pbbpach').val('pbb');
    $('#pbbadminemail').val('');
    $('#pbbadminpass').val('');
    $('#pbbadminpass').pwstrength('forceUpdate');
    $('#pbbpassbd').val('');
    $("#pbbadminuser").val('');
    $('#pbbpassbd').pwstrength('forceUpdate');
    $('#pbbbd').val('pbb{{mod.extra_data.randbd}}');
    $('#pbbuserdb').val('pbb{{mod.extra_data.randbd}}');

    uchip.validator('.reqpbb', true);
    cancelGeneral(idCollapse);
}
function addphpBB(){
    if(uchip.validator('.reqpbb')){
        let psurl = $("#pbburl").val();
        let psdomain = $("#pbbdomain").val();
        let pslang = $("#pbblang").val();
        let psbd = $("#pbbbd").val();
        let psuserdb = $("#pbbuserdb").val();
        let pspassbd = $("#pbbpassbd").val();
        let pspach = $("#pbbpach").val();
        let psadminemail = $("#pbbadminemail").val();
        let pbbadminuser = $("#pbbadminuser").val();
        let psadminpass = $("#pbbadminpass").val();
        let pscompanyname = $("#pbbcompname").val();
        let pslicense= $("#pbblicense").val();
        let dompath =  $('#pbbdomain option:selected').data('path');
        let domssl =  $('#pbbdomain option:selected').data('ssl');
        let data = 'pbbadminuser='+pbbadminuser+'&pbblang='+pslang+'&pbbadminpass='+psadminpass+'&pbbadminemail='+psadminemail+'&pbbcompanyname='+pscompanyname+'&pbburl=' + psurl + '&pbbdomain=' + psdomain + '&pbbbd=' + psbd + '&pbbuserdb=' + psuserdb + '&pbbpassbd=' + Base64.encode(pspassbd) +
            '&pbbpach=' + pspach + '&dompath=' + dompath + '&domssl=' + domssl;
        let details = [
            {
                title : '{{langmod.ADDDOMLAB}}',
                value : psdomain
            },
            {
                title : '{{langmod.ADDURLLAB}}',
                value : (domssl == 1 ? 'https' : 'http') + '://' + psdomain + '/' + pspach
            },
            {
                title : '{{langmod.ADDPATHLAB}}',
                value : dompath + '/' + pspach
            },
            {
                title : '{{langmod.ADDDWP20}}',
                value : psbd
            },
            {
                title : '{{langmod.ADDDBUSERLAB}}',
                value : psuserdb
            }
        ];
        confirmInstallation({
            type: 'pbb',
            script: 'phpBB',
            data : data,
            wholepath: dompath + '/' + pspach,
            callback: function(response){
                if(response.hasOwnProperty('result') && response.result == 'success'){
                    if(response.db_result.result != 'success'){
                        noti_bubble('{{langmod.ADDINSTALLDET}} ' + handleDBError(response.db_result.code),'{{langmod.ADDATENTION}}!','warning',false,false,'6500',true);
                    }else{
                        noti_bubble('{{langmod.ADDINSTALLSUCC}}','{{langmod.SUCCESS}}','success',false,false,'3000',true);
                    }
                }else{
                    noti_bubble('{{langmod.ADDERRORGEN}}','{{langmod.FERROR}}','error',false,false,'3000',true);
                }
                var variableHTML='';
                if($("#instaled_pbb").html()==undefined){
                    variableHTML+='<div class="panel panel-default" id="instaled_pbb">'+
                        ' <div class="panel-heading white-bg script-container-title">'+
                        '<a class="accordion-toggle" style="width: 100%" data-toggle="collapse"  aria-expanded="true" aria-controls="panel_pbb_container" data-parent="#accordion1" data-target="#panel_pbb_container">'+
                        '<h4 class="panel-title"><i class="more-less glyphicon-plus font-weight-bolder"></i></h4><h4 class="panel-title">phpBB Installations</h4></a></div><div id="panel_pbb_container"  class="panel-collapse collapse"><div class="panel-body" id="table_pbb_container"><div class="table_cron_loader"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div></div></div></div>'
                    $( "#accordion1" ).append( variableHTML );
                    $(".accordion-toggle").click(function(){
                        $("#"+$(this).prop('data-target')).slideToggle('slow');
                    });
                }
                $("#instaledEmpty").hide();
                pbbTable(response.list);
                cancelpbb('pbb');
            },
            details: details
        });
    }else{
        noti_bubble('{{langmod.ADDREQFIELDS}}','{{langmod.FERROR}}','error',false,false,'3000',true);
    }
}
